
<div class="tab-pane container" id="address">
    <p>The following addresses will be used on the checkout page by default.</p>
    <h4 class="billing-address">Billing address</h4>
    <a href="#" class="view">Edit</a>
    <p><strong>Javid Electronics</strong></p>
    <address>
        House Mir Celal 18<br>
        Street 18<br>
        Block 1 <br>
        Animi <br>
        numquam <br>
        7070
    </address>
    <p>Noland</p>
</div>