<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javid Electronics</title>
    <link rel="stylesheet" href="~/client/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/client/assets/css/style.css">
    <link rel="stylesheet" href="~/client/assets/css/junko.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    @RenderSection("style", required : false)
</head>

<body>

    <a id="back-to-top"></a>


    <!--header area start-->

    <header>
        <div class="main-header">
            <!--header top start-->
            <div class="header-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-6">
                            <div class="support-info">
                                <p>Telephone Enquiry: <a href="">+994 70 523 85 02</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                            <div class="top-right text-end">
                                <ul>
                                    <li><a href="">My Account</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header top end-->
            <!--header middel start-->
            <div class="header-middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="logo">
                                <a href="index.html"><img src="~/client/assets/images/logo/logo.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-12">
                            <div class="middle-right">
                                <div class="search-product">
                                    <form action="#">
                                        <div class="search-box">
                                            <input placeholder="Search product..." type="text">
                                            <button type="submit">Search</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="middle-right-info">

                                    <div class="mini-cart-wrapper">
                                        <a href="">
                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>$147.00 <i class="fa fa-angle-down"></i>
                                        </a>
                                        <span class="cart-quantity">2</span>
                                        <!--mini cart-->
                                        <div class="mini-cart">
                                            <div class="cart-item">
                                                <div class="cart-img">
                                                    <a href="#">
                                                        <img src="~/client/assets/images/product/product1.jpg"
                                                             alt="">
                                                    </a>
                                                </div>
                                                <div class="cart-info">
                                                    <a href="#">Iphone 6</a>
                                                    <p>Quantity: 1 X <span> $60.00 </span></p>
                                                </div>
                                                <div class="cart-remove">
                                                    <a href="#"><i class="fa-solid fa-xmark"></i></a>
                                                </div>
                                            </div>
                                            <div class="cart-item">
                                                <div class="cart-img">
                                                    <a href="#">
                                                        <img src="~/client/assets/images/product/product2.jpg"
                                                             alt="">
                                                    </a>
                                                </div>
                                                <div class="cart-info">
                                                    <a href="#">Samsung</a>
                                                    <p>Quantity: 1 X <span> $60.00 </span></p>
                                                </div>
                                                <div class="cart-remove">
                                                    <a href="#"><i class="fa-solid fa-xmark"></i></a>
                                                </div>
                                            </div>
                                            <div class="mini-cart-table">
                                                <div class="cart-total">
                                                    <span>Sub total:</span>
                                                    <span class="price">$138.00</span>
                                                </div>
                                                <div class="cart-total mt-10">
                                                    <span>total:</span>
                                                    <span class="price">$138.00</span>
                                                </div>
                                            </div>

                                            <div class="mini-cart-footer">
                                                <div class="cart-button">
                                                    <a href="cart.html">View cart</a>
                                                </div>
                                                <div class="cart-button">
                                                    <a href="checkout.html">Checkout</a>
                                                </div>

                                            </div>

                                        </div>
                                        <!--mini cart end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--header middel end-->
            <!--header bottom satrt-->

            @await Component.InvokeAsync("NavbarHeader")
            
            <!--header bottom end-->
        </div>
    </header>

    <!--header area end-->

    @RenderBody();

    <!--footer area start-->

    <footer>
        <div class="footer-top">
            <div class="container border-bottom">
                <div class="row">
                    <div class="col-lg-3 col-10">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Support</h5>
                            <div class="inner">
                                <p>
                                    Baku, Azerbaijan
                                </p>
                                <ul class="support-list-item">
                                    <li>
                                        <a href="mailto:example@domain.com">
                                            <i class="fa-regular fa-envelope-open"></i>
                                            cavid.qafarli@gmail.com
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:(+01)850-315-5862">
                                            <i class="fa-solid fa-phone"></i> +994 70 523 85
                                            02
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-10">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Account</h5>
                            <div class="inner">
                                <ul>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="sign-up.html">Login / Register</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-10">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Quick Link</h5>
                            <div class="inner">
                                <ul>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms-of-service.html">Terms Of Use</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-10">
                        <div class="axil-footer-widget">
                            <h5 class="widget-title">Download App</h5>
                            <div class="inner">
                                <span>Save $3 With App &amp; New User only</span>
                                <div class="download-btn-group d-flex">
                                    <div class="qr-code py-3">
                                        <img src="https://new.axilthemes.com/demo/template/etrade/~/client/assets/images/others/qr.png"
                                             alt="Axilthemes">
                                    </div>
                                    <div class="app-link d-flex flex-column">
                                        <a href="#">
                                            <img class="py-3"
                                                 src="https://new.axilthemes.com/demo/template/etrade/~/client/assets/images/others/app-store.png"
                                                 alt="App Store">
                                        </a>
                                        <a href="#">
                                            <img src="https://new.axilthemes.com/demo/template/etrade/~/client/assets/images/others/play-store.png"
                                                 alt="Play Store">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-baseline">
                    <div class="col-lg-4 col-12">
                        <div class="copyright-left text-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-discord"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="copyright-middle d-flex flex-wrap justify-content-center">
                            <ul class="quick-link">
                                <li>© 2023</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="copyright-right d-flex  justify-content-center align-items-baseline">
                            <span class="card-text">Accept For</span>
                            <ul class="payment-icons-bottom d-flex
                            ">
                                <li>
                                    <img src="https://new.axilthemes.com/demo/template/etrade/~/client/assets/images/icons/cart/cart-1.png"
                                         alt="paypal cart">
                                </li>
                                <li>
                                    <img src="https://new.axilthemes.com/demo/template/etrade/~/client/assets/images/icons/cart/cart-2.png"
                                         alt="paypal cart">
                                </li>
                                <li>
                                    <img src="https://new.axilthemes.com/demo/template/etrade/~/client/assets/images/icons/cart/cart-5.png"
                                         alt="paypal cart">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--footer area end-->



<!-- Product Modal start -->

<div class="modal quick-view-modal fade show" id="quickModal" style="background-color: gray ; opacity: 0.97;">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close"></button>
            </div>
            <div class="modal-body product-details-modal">
                
            </div>
        </div>
    </div>
</div>

<!-- Product Modal end -->





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/client/assets/app/product-modal.js"></script>
    <script src="~/client/assets/app/minicart.js"></script>
    <script src="~/client/assets/app/homeslider.js"></script>
    <script src="~/client/assets/app/backtotop.js"></script>
    <script src="~/client/assets/js/QuickModal.js" asp-append-version="true"></script>

    @RenderSection("script", required : false)

</body>

</html>