@using JavidElectronics.Areas.Client.ViewComponents
@using JavidElectronics.Areas.Client.ViewModels.Home.Index
@model IndexViewModel


<!--slider area start-->
<section class="slider-section mb-70">
    <div class="slider-area owl-carousel">

        @foreach (var slider in Model.Sliders)
        {
            <div class="single-slider d-flex align-items-center">
                <img src="~/@slider.BackGroundImageUrl" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider-content">

                                <h1> @slider.MainTitle</h1>

                                <h2>@slider.Content</h2>

                                <p>exclusive offer <span> 20% off </span> this week</p>

                                <a asp-route="@slider.ButtonRedirectUrl" class="button">
                                    @slider.Button
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }

        @*Slider'dan bashga hamisini Components hissesinde yazib bura invoke edeceyik (BestPractice)*@

    </div>
</section>
<!--slider area end-->
<!--shipping area start-->
<section class="shipping-area mb-70">
    <div class="container">
        @await Component.InvokeAsync("Benefit")
    </div>
</section>
<!--shipping area end-->
<!-- hot deal products start -->

<section id="hotdealsproducts">

    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h2>Hot Deals Products</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards">

                @await Component.InvokeAsync(nameof(Product));

            </div>
        </div>
    </div>

</section>

<!-- hot deal products end -->
<!--banner area start-->
<div class="banner-area mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner mb-30">
                    <div class="banner-thumb">
                        <a href="shop.html"><img src="~/client/assets/images/bg/banner4.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner mb-30">
                    <div class="banner-thumb">
                        <a href="shop.html"><img src="~/client/assets/images/bg/banner5.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner area end-->
<!--top- category area start-->
<section id="top-category">

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-12">
                <div class="top_category_header">
                    <h3>Top Categories This Week</h3>
                    <p>Aliquam eget consectetuer habitasse interdum.</p>
                    <a href="shop.html">Show All Categories</a>
                </div>
            </div>

            <div class="col-lg-10 col-12">
                <div class="cards2">
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Phones</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category2.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Computers</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category3.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Accessories</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category4.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Laptops</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category5.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Monitors</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category2.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Networking</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>PC Gaming</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Smartwatches</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Headphones</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Camera & Photo</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Videogames</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img-top">
                            <img src="~/client/assets/images/s-product/category1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p>Sports</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--top- category area end-->
<!--blog area start-->
<section class="blog_section mb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>From the Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog_carousel blog_column4 owl-carousel">
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="~/client/assets/images/blog/blog1.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">By <a href="#">admin</a> July 04, 2022</p>
                                <h3 class="post_title"><a href="blog-details.html">Blog image post</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="~/client/assets/images/blog/blog2.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">By <a href="#">admin</a> July 04, 2022</p>
                                <h3 class="post_title"><a href="blog-details.html">Post with Gallery</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="~/client/assets/images/blog/blog3.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">By <a href="#">admin</a> July 04, 2022</p>
                                <h3 class="post_title"><a href="blog-details.html">Post with Audio</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="~/client/assets/images/blog/blog4.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">By <a href="#">admin</a> July 04, 2022</p>
                                <h3 class="post_title"><a href="blog-details.html">Post with Video</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="~/client/assets/images/blog/blog5.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">By <a href="#">admin</a> July 04, 2022</p>
                                <h3 class="post_title"><a href="blog-details.html">Maecenas ultricies</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!--blog area end-->
<!--brand area start-->
<div class="brand_area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_container owl-carousel">
                    <div class="brand_items">
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand1.jpg" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand2.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="brand_items">
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand3.jpg" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand4.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="brand_items">
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand5.jpg" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand6.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="brand_items">
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand7.jpg" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand8.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="brand_items">
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand9.jpg" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand10.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="brand_items">
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand2.jpg" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/client/assets/images/brand/brand3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->
