@using JavidElectronics.Areas.Client.ViewCompanents


     <!--shopping cart area start -->
     <div class="shopping_cart_area mt-60">
        <div class="container cartPageJs">
            @await Component.InvokeAsync(nameof(CartPage))
        </div>
    </div>
    <!--shopping cart area end -->