@using JavidElectronics.Areas.Client.ViewModels.Benefit
@model List<BenefitListItemViewModel>

<div class="row">
    @foreach (var benefit in Model)
    {
        <div class="col-lg-3 col-12">
            <div class="single-shipping">
                <div class="shipping-icone">
                    <img src="~/@benefit.ImageUrl" alt="">
                </div>
                <div class="shipping-content">
                    <h2>@benefit.Name</h2>
                    <p>@benefit.Content</p>
                </div>
            </div>
        </div>
    }
</div>
